.nav-format {
    text-align:center;
    background-color: red;
    border: 10px solid;
    border-color: blue;
    border-radius: 5px;
    color: black;
}

.three-section {
    text-align:center;
    background-color: blue;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    color: black;
}

.four-section {
    text-align:center;
    background-color: yellow;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    color: black;
}

.twelve-section {
    text-align:center;
    background-color: red;
    border: 10px solid;
    border-color: blue;
    border-radius: 5px;
    color: black;
}

.div-box {
    text-align:center;
    background-color: green;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    color: red;
}

.a-active {
    text-align:center;
    background-color: white;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    color: black;
    padding: 0 20px 0 20px;
    height:100%;
}

li a:hover {
    font-weight:bolder;
}

a:hover {
    font-weight:bolder;
}

nav a:hover {
    font-weight:inherit;
}

.list-hover:hover {
    font-weight:inherit;
    color:purple;
    background-color: rgba(236, 185, 236, 0.247);
}

li:active {
    color:white;
    background-color: rgba(236, 185, 236, 0.247);
